.cover__subtitle{
  margin: 0;
  width: 360px;
  height: 66px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  position: relative;
  z-index: 1;
}
@media (max-width: 425px) {
  .cover__subtitle{
    width: 288px;
    height: 48px;
    font-size: 14px;
    line-height: 16px;
  }
}
