.place{
  list-style: none;
  font-family: 'Inter', Arial, sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  max-width: 100%;
  grid-gap: 48px 40px;
  grid-template-areas:
    "title url"
    "image text";
}
@media (max-width: 1024px) {
  .place{
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-gap: 48px 32px;
  }
}
@media (max-width: 768px) {
  .place{
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 48px 28px;
  }
}
@media (max-width: 690px) {
  .place{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 0;
  }
}
