.place__website{
  grid-area: url;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}
@media (max-width: 425px) {
  .place__website{
    max-width: 288px;
    margin: 0 auto 10px;
  }
}
