.place__website{
  grid-area: url;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-self: start;
  align-self: end;
}
@media (max-width: 690px) {
  .place__website{
    max-width: 288px;
    margin: 0 auto 32px;
  }
}
